<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itdr.mapper.UserFriendMapper" >
  <resultMap id="BaseResultMap" type="com.itdr.pojo.UserFriendKey" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <id column="friend_id" property="friendId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.itdr.pojo.UserFriendKey" >
    delete from user_friend
    where id = #{id,jdbcType=VARCHAR}
      and friend_id = #{friendId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itdr.pojo.UserFriendKey" >
    insert into user_friend (id, friend_id)
    values (#{id,jdbcType=VARCHAR}, #{friendId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.itdr.pojo.UserFriendKey" >
    insert into user_friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="friendId != null" >
        friend_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="friendId != null" >
        #{friendId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>